packages:
  yum:
    git: []

container_commands:
  01updateDistribute:
    command: "easy_install  -U distribute"
  02syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true

#  03migrate:
#    command: "django-admin.py migrate"
#    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mysite/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mysite.settings
  - option_name: INITIAL_ADMIN_PASSWORD
    value: rat*weasel

