packages:
  yum:
    git: []

container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01updateDistribute:
    command: "easy_install  -U distribute"
  02syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  03migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mysite/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mysite.settings
